$mobile:562px;
$Planshet:767px;
$bigPlanshet:992px;


@media(max-width:$mobile){
    nav{
        display: none;
    }
  
    header{
      width: 100%;
        height: 60px;
  

        .header-logo{
            width: 110px !important;
            height: 60px !important;
            transform: translateX(-50px);
            img{
                width: 100%;
            }
            .menu-png{
              display: none;
             border: 1px solid;
             .m-icon{
              border: 2px solid red;
             }
          }
        }
        .contact-area{
            display: none !important;
        }
        .menu-png{
          width: 30px;
         height: 30px;
            display: block;
            transform: translateX(-210px) translateY(15px);
            img{
                width: 100%;
            }
        }
    }
    main{
      width: 100%;
     .main-text{
      width: 60%;
      height: 140px;
    //  transform: translateX(20px) translateY(70px);
    top: 100px;
    left: 100px;
     background-size: cover;
      
        strong{
          font-size: 28px;
        }
        h1{
          font-size: 56px !important;
          line-height: 60px;
        }
     }

     .main-paragraph{
      flex-direction: column !important;
       left: 100px;     
      .main-text2{
        margin-left: 0 !important;
     
      }
     }
    }
    .article{
      width: 100%;  
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .box1{
            width:85% !important;
            height: 358px !important; 
            bottom: 50px;
            transform: translate(0);
            margin-bottom: 50px;
          p{
            width: 80%;
            height: 112px;
            font-size: 19px;
  
            &::after{
              content: "";
              position: absolute;
              left:20%;
              width: 180px;
              height: 2px;
              background-color: #BC74A5;
            }
            &::before{
              content: "";
              position: absolute;
              left: 0px;
              transform: translateY(-30px);
              width: 180px;
              height: 2px;
              background-color: #BC74A5;
              left: 20%;
            }
          }
          .box1-img{
            width: 120px;
            height: 60px;
            margin-top: 30px;
            img{
              width: 100%;
            }
          }
        }
    }
    

    .box2{
        width: 100% !important;
        height: 859px !important;
        display: flex;
        flex-direction: column;
        box-shadow: none;
        span{
          width: 100% !important;
          height: 36px;   
          color: #0E54AE;
          font-size: 36px !important;
          margin: 0;
        }
        .line{
            width: 90% !important;
            height: 1px;
            background-color: silver;
            margin: 0 20px;
            // transform: translateX(65px) translateY(40px);
        }
        .img-inputs{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          
        }
        .box2-img{
          width: 70vw !important;
          height: 437px !important;
          transform: translateY(60px);
          margin-left: 40px;
          img{
            width: 100%;
          }
        }
        .inputs{
          width: 100% !important;
          height: 270px !important;
          display: flex;
          flex-direction: column;
          align-items: center;
          transform: translate(0);
          margin: 0;
          padding: 0;
          input{
            width: 80vw !important;
            height: 45px !important;
            padding-left: 0;
            border:none;
             box-shadow: 1px 1px 1px 1px silver;
           border-radius:5px;
          }
          button{
            width: 80vw !important;
            height: 45px !important;
            background-color: #BC74A5;
            color: white;
            border: none;
            margin-left: 30px;
            transition: 0.2s;
            border-radius:5px;
            cursor: pointer;
            &:hover{
              background-image:linear-gradient(to right, #BC74A5,#0E54AE);
            }
          }
        
        }
      }

       
    .doctors{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    .doc-text{
    width: 100%;
    display: flex;
    flex-direction: column !important;
    height: 300px;
    transform: translateX(0px); 
    strong{
      width: 60vw;
      font-size: 40px;
      color: #BC74A5;
      font-family: 'Yantramanav', sans-serif;  
    }
    h1{
      width: 100%;
      font-size: 70px;
      color: #0E54AE;
      line-height:  90px;
      font-family: 'Yantramanav', sans-serif;
    }
  }
  button{
    width: 190px;
    height: 61px;
    background-color:#0E54AE;
    color: white;
    transform: translateX(0px) translateY(-100px);
    border: none; 
    padding-left: 5px;
    font-size: 16px;
    &:hover{
      background-image:linear-gradient(to left, #BC74A5,#0E54AE);
    }
  }
  .product-area{
    width: 100%;
    transform: translateX(0);
    flex-direction: column;
    align-items: center;
  .product{
    width: 80vw;
    height: 403px;
    transform: translateX(-90px);  
    .product1-img{
      width: 80vw;
      height: 190px;

      .vrin{
        width: 80vw;
        height: 190px;
        background-color:rgba(165, 162, 162,0.2);
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
      }
      &:hover .vrin{
        visibility: visible;
        opacity: 1;
      }
      img{
        width: 100%;
      }
    }
    
    .product1-text{
      width:80vw;
      height: 50%;
      background-color: #BC74A5;
      padding-top: 40px;
       b{
        color: white;
        font-size: 30px;
      margin-top: 30px;
      display: block;
       }
      p{
      margin-top: 20px;
      color:white;
      }
    }
  }
}
}

.article2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
 height: auto;
 margin-top: 30px;
  .article2-text{
    width: 100%;
    transform: translate(0);
   display: flex;
   flex-direction: column;
   align-items: center;
    .article2-text-header{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 20%;
      width: 90vw;
      strong{
        font-size: 28px;
        color:#BC74A5;
        text-align: center;
        margin-bottom: 10px;
      }
      h1{
        // width: 100vw;
        font-size: 48px;
        color:#0E54AE;
        margin-top:-20px;
  
      }
    }
    .article2-text-main{
      width: 80vw;
      height: 350px;
      margin-top: 50px;

      p{
        font-size: 21px;
        width: 80vw;

   
      }
    }
  
  }
}

.doctors2{
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  .doctors-area{
    width: 90%;
    height:auto;
    .doc-img{
      width: 100%;
      height: 50%;
      position: relative;

      &:hover .img-on{
           visibility: visible;
           opacity: 1;
      }
      .img-on{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color:rgba(165, 162, 162,0.5);
        top:0;
        display: flex;
        align-items: flex-end;
        visibility: hidden;
        opacity: 0;
        transition: 1s;
        button{
          width: 150px;
          height: 60px;
          border: none;
          border-radius:10px ;
          background-color: #BC74A5;
          color:white;
        margin: 20px;
          &:hover{
            background-image:linear-gradient(to right, #BC74A5,#0E54AE);
          }
        }
      }
      img{
        width: 100%;
        height: 100%;
      }
 
    }
    .doc-text{
      width: 100%;
      height: 50%;
      padding: 30px;
      background-color: rgb(235, 233, 233);
      h2{
        font-size: 30px;
        color:#0E54AE;
        position: relative;
        &::after{
          content: "";
          position: absolute;
          width:68px;
          height: 3px;
          background-color: #BC74A5;
          bottom:-10px;
          left: 0;
        }
      }
      p{
        color:#181818;
        margin-top: 30px;
      }

      .social-media{
        width: 200px;
        height: 50px;
        margin-top: 10px;
        img{
          margin-top: 10px;
          margin-right: 15px;
        }
      }
    }
  }
}
.zakaz{
  width: 100%;
  height: 838px;
  display: flex;
  justify-content:space-around;
  padding-top: 70px;
  flex-direction: column;
  align-items: center;
  .doc-img{
    width: 75vw;
    height: 30vh;
    margin-left: 0;
    transform: translateY(1000px);
    img{
      width: 100%;
    }
  }
  .zakaz-text{
   width: 85%;
   height: auto;
   margin-left: 0;
   transform: translateY(-260px);
   align-items: center;
     .line{
    width: 75%;
    height: 1px;
    background-color:silver;
    margin-top: 60px;
   }
    h1{ 
      color:#0E54AE;
      font-size:56px;
    }
    strong{
      color:#BC74A5;
      font-size: 28px;
    }
    p{
      font-size: 17px;
      width: 100%;
    }
  }
  .inputs{
    width:100%;
    flex-direction: column;
    margin: 0;
      input{
      width: 80vw;
      height: 45px;
      border: none;
      border-radius:5px;
      box-shadow: 2px 2px 2px 2px silver  ;
    }
    .first-line{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 20px;
      align-items: center;
      p{
        margin-bottom: 10px;
      }
      p{
        width: 50%;
        height: 20px;

      }
    }
  }
  button{
    width: 40%;
    height: 50px;
    margin-left: 30%;
  }
}

.teeth{
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  padding:0 ;
  padding-top:0;
  transform: translateY(800px);
  .block{
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    .block-text{
      h3{
        font-size: 22px;
        padding-left: 20px;

      }
      p{
        width: 100%;
        padding-left: 20px;
      }
    }
     .block-img{
      width: 40px;
      height: 40px;
       
      img{
        width: 100%;
      }
     }
    p{
      font-size: 15px;
      width: 15vw;
    }
  }
  button{
    width: 45vw;
    height: 50px;
    border:none;
    background-color: #BC74A5;
    border-radius: 5px;
    color:white;
    transition: 0.2s;
    margin-bottom: 20px;
    &:hover{
      background-image:linear-gradient(to right , #BC74A5,#0E54AE);
      transform: translateY(-3px);

    }
  }

}
.footer{
  width: 99%;
  height: 900px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(..//image/background.jpg);
  background-size: cover;
  background-position: center;
  transform: translateY(840px);
  padding: 0;
  .first-col{
    width: 100%;
    height: 278px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    strong{
      font-size: 25px;
      color:#0E54AE;
      position: relative;
      
      &::before{
        content: "";
        position: absolute;
        width: 20vw;
        height: 4px;
        background-color: #BC74A5;
        bottom: -10px;
        }
    }
    b{
      font-size: 25px;
      color:#BC74A5;
   
    }
    p{
      width: 100%;
    }
    .footer-text{
      width: 99%;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
     span{
      color:#181818;
     }
      a{
        text-decoration: none;
      color:#181818;
        
      }
    }
  }
  .second-col{
    width: 100%;
    height: 258px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    strong{
      font-size: 25px;
      color:#0E54AE;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        width: 20vw;
        height: 4px;
        background-color: #BC74A5;
        bottom: -10px;
        }
    }
    .footer-text{
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
        a{
          text-decoration: none;
          color:#181818;
          
        }
      }
     
    }
    .third-col{
      width: 100%;
      height: 358px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      strong{
        font-size: 25px;
        color:#0E54AE;
        position: relative;
          &::before{
          content: "";
          position: absolute;
          width: 22vw;
          height: 4px;
          background-color: #BC74A5;
          bottom: -10px;
          }
      }
     
     
      .footer-text{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
          width: 100%;
        }
        .main-p{
           color: #181818;
           font-size: 16px;
           margin-bottom: 10px;
        }
          p{
            font-size: 20px;
          }
        }
       
      }
      .fourd-col{
        width: 100%;
        height: 258px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        strong{
          font-size: 25px;
          color:#0E54AE;
          position: relative;
          &::before{
            content: "";
            position: absolute;
            width: 35vw;
            height: 4px;
            background-color: #BC74A5;
            bottom: -10px;
            }
        }
        .footer-text{
          width: 100%;
          height: 70%;
          display: flex;
          flex-direction: column;
          padding-top: 20px;
          }
         
        }
  }
}
    
@media(min-width:$mobile) and (max-width:$Planshet){
       main{
      width: 100%;
     .main-text{
      width: 424px;
      height: 140px;
     transform: translateX(20px) translateY(70px);
        strong{
          font-size: 28px;
        }
        h1{
          font-size: 56px !important;
          line-height: 60px;
        }
     }
     .main-paragraph{
      flex-direction: column !important;
     transform: translateX(-100px);

      .main-text2{
        margin-left: 0 !important;
      }
     }
    }

    .article{
      width: 100% ;
      height: 1400px;
      display:flex;
      flex-direction: column;
        .box1{
          width:90vw;
          height: 325px !important; 
          transform: translateX(0px) translateY(50px) !important;
          bottom: 50px;
        p{
          width: 393px;
          height: 112px;
          font-size: 21px;

          &::after{
            content: "";
            position: absolute;
            left: 0px;
            transform: translateY(60px);
            width: 180px;
            height: 2px;
            background-color: #BC74A5;
            left: 35%;

          }
          &::before{
            content: "";
            position: absolute;
            left: 35%;
            transform: translateY(-30px);
            width: 180px;
            height: 2px;
            background-color: #BC74A5;
          }
        }
        .box1-img{
          width: 120px;
          height: 60px;
          margin-top: 30px;
          img{
            width: 100%;
          }
        }
      }
  }
  .box2{
      width: 100% !important;
      height: 859px !important;
      background-color: white;
      transform: translateX(100px) translateY(-30px);
      span{
        width: 383px !important;
        height: 36px !important ;
        color: #0E54AE;
        font-size: 36px !important;
        transform: translateX(100px);
      }
      .line{
          width: 100vw !important;
          height: 1px;
          background-color: silver;
          margin-left: 50px;
          transform: translateX(0px);
      } 
      .img-inputs{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-left: 0;
        width: 400px !important;
      }
      .box2-img{
        width: 95vw !important;
        height: 482px !important;
        transform: translateX(20px) translateY(-80px) !important; 
        padding: 50px;
        img{
          width: 100%;
        }
      }
      .inputs{
        width:95vw !important;
        height: 270px !important;
        flex-direction: column;
        justify-content: space-between;
        transform: translateY(140px) !important;
        margin-left: 30px;
        margin-right: 30px;
        padding-left: 40px;
        input{
          width: 90% !important;
          height: 45px !important;
          margin-left: 0;
          padding-left: 0;
        border:none;
        box-shadow: 1px 1px 1px 1px silver;
        border-radius:5px;
         transform: translateY(0px) translateX(-30px) !important;
        }
        button{
          width: 500px !important;
          width: 383px !important;
          height: 45px !important;
          background-color: #BC74A5;
          color: white;
          border: none;
          transition: 0.2s;
          border-radius:5px;
         transform: translateY(0px) translateX(-30px);
          cursor: pointer;
          &:hover{
            background-image:linear-gradient(to right, #BC74A5,#0E54AE);
            // transform: translateY(-2px); 
          }
        }
      }
    }
    .doctors{
      transform: translateY(100px);
      .doc-text{
      width: 423px;
      height: 84px;
     transform: translateX(30px) translateY(100px);
      strong{
        font-size: 28px ;
        color: #BC74A5;
        font-family: 'Yantramanav', sans-serif;  
      }
      h1{
        font-size: 56px;
        color: #0E54AE;
        line-height:  50px;
        font-family: 'Yantramanav', sans-serif;
      }
    }
    button{
      width: 166px;
      height: 53px;
      background-color:#0E54AE;
      color: white;
      transform: translateX(30px) translateY(120px);
      border: none; 
      padding-left: 5px;
      font-size: 16px;
      &:hover{
        background-image:linear-gradient(to left, #BC74A5,#0E54AE);
      }
    }
    .product-area{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 150px;
      justify-content: center;
    .product{
      width:90vw;
      height: 60vh !important;
      margin-left: -125px;
      margin-top: 70px;
      .product1-img{
        width:85vw !important;
        height:250px !important;
        .vrin{
          width: 85vw;
          height: 456px;
          background-color:rgba(165, 162, 162,0.2);
          position: absolute;
          visibility: hidden;
          opacity: 0;
          transition: 0.5s;
        }
        &:hover .vrin{
          visibility: visible;
          opacity: 1;
        }
        img{
          width: 100%;
        }
      }
      .product1-text{
        width: 85vw;
        height:30vh;
        margin-top: 60px;
        transform: translateY(-70px);
         b{
          color: white;
          font-size: 30px;
        margin-top: 30px;
        display: block;
         }
        p{
        margin-top: 20px;
      color:white
        }
      }
    }
  }
  }
  .article2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
   height: auto;
   margin-top: 150px;
    .article2-text{
      width: 100%;
      transform: translate(0);
     display: flex;
     flex-direction: column;
     align-items: center;
      .article2-text-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 20%;
        width: 90vw;
        strong{
          font-size: 28px;
          color:#BC74A5;
          text-align: center;
          margin-bottom: 10px;
        }
        h1{
          // width: 100vw;
          font-size: 48px;
          color:#0E54AE;
          margin-top:-20px;
        }
      }
      .article2-text-main{
        width: 80vw;
        height: 350px;
        margin-top: 50px;
        p{
          font-size: 21px;
          width: 80vw;
        }
      }
    
    }
  }
  .doctors2{
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    .doctors-area{
      width: 90%;
      height:auto;
      .doc-img{
        width: 100%;
        height: 50%;
        position: relative;
  
        &:hover .img-on{
             visibility: visible;
             opacity: 1;
        }
        .img-on{
          width: 100%;
          height: 100%;
          position: absolute;
          background-color:rgba(165, 162, 162,0.5);
          top:0;
          display: flex;
          align-items: flex-end;
          visibility: hidden;
          opacity: 0;
          transition: 1s;
          button{
            width: 150px;
            height: 60px;
            border: none;
            border-radius:10px ;
            background-color: #BC74A5;
            color:white;
          margin: 20px;
            &:hover{
              background-image:linear-gradient(to right, #BC74A5,#0E54AE);
            }
          }
        }
        img{
          width: 100%;
          height: 100%;
        }
   
      }
      .doc-text{
        width: 100%;
        height: 50%;
        padding: 30px;
        background-color: rgb(235, 233, 233);
        h2{
          font-size: 30px;
          color:#0E54AE;
          position: relative;
          &::after{
            content: "";
            position: absolute;
            width:68px;
            height: 3px;
            background-color: #BC74A5;
            bottom:-10px;
            left: 0;
          }
        }
        p{
          color:#181818;
          margin-top: 30px;
        }
  
        .social-media{
          width: 200px;
          height: 50px;
          margin-top: 10px;
          img{
            margin-top: 10px;
            margin-right: 15px;
          }
        }
      }
    }
  
  }
  .zakaz{
    width: 100%;
    height: 838px;
    display: flex;
    justify-content:space-around;
    padding-top: 70px;
    flex-direction: column;
    align-items: center;
    .doc-img{
      width: 75vw;
      height: 30vh;
      margin-left: 0;
      transform: translateY(700px);
      img{
        width: 100%;
      }
    }
    .zakaz-text{
     width: 85%;
     height: auto;
     margin-left: 0;
     transform: translateY(-260px);
     align-items: center;
       .line{
      width: 75%;
      height: 1px;
      background-color:silver;
      margin-top: 60px;
     }
      h1{ 
        color:#0E54AE;
        font-size:56px;
      }
      strong{
        color:#BC74A5;
        font-size: 28px;
      }
      p{
        font-size: 17px;
        width: 100%;
      }
    }
    .inputs{
      width:100%;
      margin: 0;
        input{
        width: 40vw;
        height: 45px;
        border: none;
        border-radius:5px;
        box-shadow: 2px 2px 2px 2px silver  ;
      }
      .first-line{
        display: flex;
        width: 100%;
        margin-top: 20px;
        align-items: center;
        justify-content: space-between;
        p{
          margin-bottom:20px;
        }
        p{
          width: 100%;
          height: 20px;
  
        }
      }
    }
    button{
      width: 40%;
      height: 50px;
      margin-left: 30%;
    }
  }
  .teeth{
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    padding:0 ;
    padding-top:0;
    transform: translateY(800px);
    .block{
      width: 90vw;
      height: auto;
      display: flex;
      justify-content: flex-start;
      margin-top: 20px;
      .block-text{
        h3{
          font-size: 22px;
          padding-left: 20px;
  
        }
        p{
          width: 100%;
          padding-left: 20px;
        }
      }
       .block-img{
        width: 40px;
        height: 40px;
         
        img{
          width: 100%;
        }
       }
      p{
        font-size: 15px;
        width: 15vw;
      }
    }
    button{
      width: 45vw;
      height: 50px;
      border:none;
      background-color: #BC74A5;
      border-radius: 5px;
      color:white;
      transition: 0.2s;
      margin-bottom: 20px;
      &:hover{
        background-image:linear-gradient(to right , #BC74A5,#0E54AE);
        transform: translateY(-3px);
  
      }
    }
  
  }
  .footer{
    width: 99%;
    height: 900px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(..//image/background.jpg);
    background-size: cover;
    background-position: center;
    transform: translateY(800px);
    padding: 0;
    padding-left: 40px;
    .first-col{
      width: 100%;
      height: 278px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      strong{
        font-size: 25px;
        color:#0E54AE;
        position: relative;
        
        &::before{
          content: "";
          position: absolute;
          width: 10vw;
          height: 4px;
          background-color: #BC74A5;
          bottom: -10px;
          }
      }
      b{
        font-size: 25px;
        color:#BC74A5;
     
      }
      p{
        width: 100%;
      }
      .footer-text{
        width: 99%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
       span{
        color:#181818;

       }
        a{
          text-decoration: none;
        color:#181818;
        }
      }
    }
    .second-col{
      width: 100%;
      height: 258px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      strong{
        font-size: 25px;
        color:#0E54AE;
        position: relative;
        &::before{
          content: "";
          position: absolute;
          width: 10vw;
          height: 4px;
          background-color: #BC74A5;
          bottom: -10px;
          }
      }
      .footer-text{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
          a{
            text-decoration: none;
            color:#181818;
            
          }
        }
       
      }
      .third-col{
        width: 100%;
        height: 358px;
        display: flex;
        flex-direction: column;
        strong{
          font-size: 25px;
          color:#0E54AE;
          position: relative;
            &::before{
            content: "";
            position: absolute;
            width: 10vw;
            height: 4px;
            background-color: #BC74A5;
            bottom: -10px;
            }
        }
       
       
        .footer-text{
          width: 80%;
          height: 70%;
          display: flex;
          flex-direction: column;
          align-items: center;
           justify-content: center;
           padding: 0;
          img{
            width: 100%;
          }
          .main-p{
             color: #181818;
             font-size: 16px;
             margin-bottom: 10px;
          }
            p{
              font-size: 20px;
            //  margin-right: 170px;

            }
          }
         
        }
        .fourd-col{
          width: 100%;
          height: 258px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          strong{
            font-size: 25px;
            color:#0E54AE;
            position: relative;
            &::before{
              content: "";
              position: absolute;
              width: 10vw;
              height: 4px;
              background-color: #BC74A5;
              bottom: -10px;
              }
          }
          .footer-text{
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            }
           
          }
    }
}
    @media(min-width:$Planshet) and (max-width:$bigPlanshet){
      main{
        width: 100%;
       .main-text{
        width: 424px;
        height: 140px;
       transform: translateX(20px) translateY(70px);
          strong{
            font-size: 28px;
          }
          h1{
            font-size: 56px !important;
            line-height: 60px;
          }
       }
       .main-paragraph{
        flex-direction: column !important;
       transform: translateX(-100px);
  
        .main-text2{
          margin-left: 0 !important;
        }
       }
      }
      
      .article{
        width: 100%;
        display:flex;
        justify-content: center;
        .box1{
          width: 50vw !important;
          height: 358px;
          background-color:#0E54AE;
           display: flex;
           flex-direction: column;
           align-items: center;
           padding-top: 80px;
           position: relative;
           z-index: 4;
           transform: translateY(-100px) translateX(40px);
           margin: auto;
          p{
            width: 276px;
            height: 131px;
            font-size: 21px;
            color: white;
            text-align-last:center ;
  
            &::after{
              content: "";
              position: absolute;
              left: 200px;
              transform: translateY(60px);
              width: 180px;
              height: 2px;
              background-color: #BC74A5;
              left: 25%;
            }
            &::before{
              content: "";
              position: absolute;
              left: 200px;
              transform: translateY(-30px);
              width: 180px;
              height: 2px;
              background-color: #BC74A5;
              left: 25%;
              
            }
          }
          .box1-img{
            width: 120px;
            height: 60px;
            margin-top: 30px;
            img{
              width: 100%;
            }
          }
        }
  
        .box2{
          width: 493px;
          height: 421px;
          background-color: white;
         transform: translateY(-110px) translateX(-20px);
          span{
            width: 400px;
            height: 40px;
            color: #0E54AE;
            font-size: 40px;
            display: block;
            margin:auto;
            margin-bottom: 20px;
            margin-top: 30px;
            transform: translateX(30px);
          }
          .line{
            width: 338px;
              height: 1px;
              background-color: silver;
              margin: 0 20px;
              margin-left: 50px;
          }
          .img-inputs{
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
            margin-left: 80px;
          }
          .box2-img{
            width: 252px;
            height: 259px;
      
            img{
              width: 100%;
            }
          }
          .inputs{
            width: 292px;
            height: 305px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            input{
              width: 252px;
              height: 52px;
              margin-left: 30px;
              padding-left: 30px;
            border:none;
            box-shadow: 1px 1px 1px 1px silver;
            border-radius:5px;
            }
            button{
              width: 252px;
              height: 52px;
              background-color: #BC74A5;
              color: white;
              border: none;
              margin-left: 30px;
              transition: 0.2s;
              border-radius:5px;
              cursor: pointer;
              &:hover{
                background-image:linear-gradient(to right, #BC74A5,#0E54AE);
                // transform: translateY(-2px);
              }
            }
          
          }
        }
      }


      .doctors{
        .doc-text{
        width: 80%;
        height: 120px;
        transform: translate(0);
        strong{
          font-size: 28px;
          color: #BC74A5;
          font-family: 'Yantramanav', sans-serif;
          margin-left: 30px;  
        }
        h1{
          width: 702px;
          font-size: 56px;
          color: #0E54AE;
          font-family: 'Yantramanav', sans-serif;
          margin-top: -10px;
          margin-left: 30px;
        }
      }
      button{
        width: 166px;
        height: 53px;
        background-color:#0E54AE;
        color: white;
        transform: translateX(40px) translateY(-20px);
        border: none; 
        padding-left: 5px;
        font-size: 14px;
        border-radius: 5px;
        &:hover{
          background-image:linear-gradient(to left, #BC74A5,#0E54AE);
        }
      }
      .product-area{
        width: 100%;
        display: flex;
          justify-content: space-evenly;
        padding: 0;
      .product{
        width: 20vw;
        height: 403px;
        transform: translate(0);
        margin: 0;
        .product1-img{
          width: 20vw;
          height: 50% !important;
    
          .vrin{
            width: 20vw;
            height:20vh;
            background-color:rgba(165, 162, 162,0.2);
            position: absolute;
            visibility: hidden;
            opacity: 0;
            transition: 0.5s;
          }
          &:hover .vrin{
            visibility: visible;
            opacity: 1;
          }
          img{
            width: 100%;
          }
        }
        
        .product1-text{
          width: 20vw;
          height: 60%;
          background-color: #BC74A5;
          padding: 0;
          padding-left: 20px;
          margin-top: -130px;
          padding-top: 20px;
           b{
            color: white;
            font-size: 30px;
          margin-top: 30px;
          display: block;
           }
          p{
            width: 106px;
            height: 101px;
          margin-top: 20px;
        color:white;
        font-size:14px;
          }
        }
      }
    }
    }

    .article2{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
     height: auto;
     margin-top: 30px;
     padding-left: 30px;
      .article2-text{
        width: 40vw;
        height: 547px;
        transform: translate(0);
       display: flex;
       flex-direction: column;
       align-items: center;
        .article2-text-header{
          display: flex;
          flex-direction: column;
          height: 20%;
          width: 40vw;
          strong{
            font-size: 28px;
            color:#BC74A5;
            margin-bottom: 10px;
            text-align: center;
          }
          h1{
            width: 90vw;
            font-size: 48px;
            color:#0E54AE;
            margin-top:-20px;
      
          }
        }
        .article2-text-main{
          width: 80vw;
          height: 350px;
          margin-top: 50px;
    
          p{
            font-size: 21px;
            width: 30vw;
    
            &::after{
              content: "";
              left: 25%;
            }
            &::before{
              content: "";
              left: 25%;
            
            }
          }
        }
        .box1-img{
          width: 120px;
          height: 60px;
          margin-top: 120px;
          img{
            width: 100%;
          }
        }
      }
    }
    .doctors2{
      width: 100%;
      height: auto;
  
      .doctors-area{
        width: 22%;
        height:30%;
        .doc-img{
          width: 100%;
          height: 50%;
          position: relative;
    
          &:hover .img-on{
               visibility: visible;
               opacity: 1;
          }
          .img-on{
            width: 100%;
            height: 100%;
            position: absolute;
            background-color:rgba(165, 162, 162,0.5);
            top:0;
            display: flex;
            align-items: flex-end;
            visibility: hidden;
            opacity: 0;
            transition: 1s;
            button{
              width: 120px;
              height: 40px;
              border: none;
              border-radius:10px ;
              background-color: #BC74A5;
              color:white;
            margin: 20px;
              &:hover{
                background-image:linear-gradient(to right, #BC74A5,#0E54AE);
              }
            }
          }
          img{
            width: 100%;
            height: 100%;
          }
     
        }
        .doc-text{
          width: 100%;
          height: auto; 
          padding: 30px;
          background-color: rgb(235, 233, 233);
          h2{
            font-size: 30px;
            color:#0E54AE;
            position: relative;
            &::after{
              content: "";
              position: absolute;
              width:68px;
              height: 3px;
              background-color: #BC74A5;
              bottom:-10px;
              left: 0;
            }
          }
          p{
            color:#181818;
            margin-top: 30px;
          }
    
          .social-media{
            width: 150px;
            height: 50px;
            margin-top: 10px;
            img{
              margin-top: 10px;
              margin-right: 15px;
            }
          }
        }
      }
    
    }

    .zakaz{
      width: 100%;
      height: 838px;
      display: flex;
      justify-content:space-around;
      padding-top: 70px;
      flex-direction: column;
      align-items:flex-end;
      .doc-img{
        transform: translateY(900px) translateX(-30px);
    }
    }
    h1{
      width: 90%;
    }

    .teeth{
      width: 100%;
      height: 380px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      background: rgba(227, 225, 225,0.3);
      align-items: center;
      padding:0 60px;
      padding-top: 50px;
      transform: translateY(600px);
      justify-content: space-around;
      border: 1px solid;
      .block{
        width: 20vw;
        height: 80px;
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        .block-text{
          h3{
            font-size: 22px;
          }
        }
         .block-img{
          width: 50px;
          height: 50px;
           
          img{
            width: 100%;
          }
         }
        p{
          font-size: 15px;
          width: 15vw;
        }
      }
      button{
        width: 15vw;
        height: 60px;
        border:none;
        background-color: #BC74A5;
        border-radius: 5px;
        color:white;
        transition: 0.2s;
        &:hover{
          background-image:linear-gradient(to right , #BC74A5,#0E54AE);
          transform: translateY(-3px);    
        }
      }
    }
  }

    @media(min-width:$bigPlanshet) and (max-width:1450px){
      .doctors{
        .doc-text{
        width: 80%;
        height: 120px;
        transform: translate(0);
        strong{
          font-size: 28px;
          color: #BC74A5;
          font-family: 'Yantramanav', sans-serif;
          margin-left: 30px;
        }
        h1{
          width: 80%;
          font-size: 56px;
          color: #0E54AE;
          font-family: 'Yantramanav', sans-serif;
          transform: translateX(30px);
          margin-top: -10px;
        }
      }
      button{
        width: 166px;
        height: 53px;
        background-color:#0E54AE;
        color: white;
        transform: translateX(40px) translateY(-20px);
        border: none; 
        padding-left: 5px;
        font-size: 14px;
        border-radius: 5px;
        &:hover{
          background-image:linear-gradient(to left, #BC74A5,#0E54AE);
        }
      }
      .product-area{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
      .product{
        width: 30vw;
        height: 403px;
        margin-left: 30px;
        transform: translate(0);
        .product1-img{
          width: 20vw;
          height: 50% !important;
    
          .vrin{
            width: 20vw;
            height: 30vh !important;
            background-color:rgba(165, 162, 162,0.2);
            position: absolute;
            visibility: hidden;
            opacity: 0;
            transition: 0.5s;
          }
          &:hover .vrin{
            visibility: visible;
            opacity: 1;
          }
          img{
            width: 100%;
          }
        }
        
        .product1-text{
          width: 20vw;
          height: 60%;
          background-color: #BC74A5;
          padding: 0;
          padding-left: 20px;
          margin-top: -130px;
          padding-top: 50px;
           b{
            color: white;
            font-size: 30px;
          margin-top: 30px;
          display: block;
           }
          p{
            width: 156px;
            height: 101px;
          margin-top: 20px;
        color:white;
        font-size:14px;
          }
        }
      }
    }
    }

    .doctors2{
      width: 97%;
      height: auto;
      .doctors-area{
        width: 22%;
        height:30%;
        .doc-img{
          width: 100%;
          height: 50%;
          position: relative;
    
          &:hover .img-on{
               visibility: visible;
               opacity: 1;
          }
          .img-on{
            width: 100%;
            height: 100%;
            position: absolute;
            background-color:rgba(165, 162, 162,0.5);
            top:0;
            display: flex;
            align-items: flex-end;
            visibility: hidden;
            opacity: 0;
            transition: 1s;
            button{
              width: 120px;
              height: 40px;
              border: none;
              border-radius:10px ;
              background-color: #BC74A5;
              color:white;
            margin: 20px;
              &:hover{
                background-image:linear-gradient(to right, #BC74A5,#0E54AE);
              }
            }
          }
          img{
            width: 100%;
            height: 100%;
          }
     
        }
        .doc-text{
          width: 100%;
          height: auto;
          padding: 30px;
          background-color: rgb(235, 233, 233);
          h2{
            font-size: 30px;
            color:#0E54AE;
            position: relative;
            &::after{
              content: "";
              position: absolute;
              width:68px;
              height: 3px;
              background-color: #BC74A5;
              bottom:-10px;
              left: 0;
            }
          }
          p{
            color:#181818;
            margin-top: 30px;
          }
    
          .social-media{
            width: 200px;
            height: 50px;
            margin-top: 10px;
            img{
              margin-top: 10px;
              margin-right: 15px;
            }
          }
        }
      }
    
    }
    .article{
      width: 100%;  
        display: flex;
        .box1{
            width:45% ;
            height: 45vh;
            bottom: 50px;
            transform: translateX(60px);
            margin-bottom: 50px;
          p{
            width: 80%;
            height: 112px;
            font-size: 19px;
  
            &::after{
              content: "";
              position: absolute;
              left:30%;
              width: 180px;
              height: 2px;
              background-color: #BC74A5;
            }
            &::before{
              content: "";
              position: absolute;
              left: 30%;
              transform: translateY(-30px);
              width: 180px;
              height: 2px;
              background-color: #BC74A5;
            }
          }
          .box1-img{
            width: 120px;
            height: 60px;
            margin-top: 30px;
            img{
              width: 100%;
            }
          }
        }
        .box2{
          width: 60%;
          height: 70vh;
          transform: translate(0);
  
          span{
            transform: translateX(70px);
            width: 40vw;
          }
        }
    }
   .zakaz{
  width: 100%;
  height: 838px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 70px;
  .doc-img{
    width: 55vw;
    height: 70%;
    margin-left: 130px;
    img{
      width: 100% !important;
    }
  }
  .zakaz-text{
   width: 50%;
   height: auto;
   margin-left: 130px;
   .line{
    width: 75%;
    height: 1px;
    background-color:silver;
    margin-top: 60px;
   }
    h1{
      color:#0E54AE;
      font-size:80px;
    }
    strong{
      color:#BC74A5;
      font-size: 40px;
    }
    p{
      font-size: 17px;
      width: 75%;
    }
  }
  .inputs{
    width:90%;
      input{
      width: 20vw;
      height: 52px;
      border: none;
      border-radius:5px;
      box-shadow: 2px 2px 2px 2px silver  ; 
      margin-top: 0px;

      
    }
    .first-line{
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin-top: 20px;
      p{
        margin-top: 50px;
        margin-bottom: 0;
      }
      p{
        width: 50%;
        height: 20px;
      }
      input{
        padding-left: 20px;
      }
    }
  }
  button{
    width: 30%;
    height: 60px;
    border:none;
    color:white;
    background-color: #0E54AE;
    border-radius:5px;
    margin-top:20px;
    margin-left: 37%;
    transition: 0.3s;
    &:hover{
      transform: translateY(-3px);
      background-image:linear-gradient(to left, #BC74A5,#0E54AE);
    }
  }
}
    }

    @media(min-width:$mobile) and (max-width:1200px){
        header{
            height: 60px;
        }
         nav{
            display: none;
         }
         .contact-area{
            display: none !important;
        }
        .header-logo{
            width: 110px !important;
            height: 60px !important;
            transform: translateX(-50px);
            img{
                width: 100%;
            }
        }
        .menu-png{
            display: block !important;
            transform: translateX(-210px) translateY(15px);
        }
      
    }
    
     .open{
      transform: translateX(-0%); 
       }
   @media(min-width:1200px) and (max-width:1350px){
     .social-media{
        transform: translateX(-150px);
     }
     .header-logo{
        transform: translateX(-100px);
     }
     .menu{
        transform: translateX(-100px);
     }
   }




   